---
import OpenCvLogo from '../../public/images/icons/OpenCV_Logo.svg';
import ClangLogo from '../../public/images/icons/clogo.png';
import UnityLogo from '../../public/images/icons/unity.png';
import DotnetLogo from '../../public/images/icons/dotnet.png';
import LayoutSimple from '../layouts/LayoutSimple.astro';
import { Image } from 'astro:assets'
import { execSync } from 'node:child_process';
import ActivityCarousel from '../components/ActivityCarousel.astro';
import MatrixBanner from '../components/MatrixBanner.astro';
import Footer from '../components/Footer.astro';
import AnimatedBackground from '../components/AnimatedBackground.astro';
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');

const projectsWithActivity = await Promise.all(
  allProjects.map(async (project) => {
    const repoUrl = project.data.githubPage;

    if (!repoUrl || !repoUrl.includes('github.com')) {
      return { ...project, lastPush: 0 };
    }

    try{
      const repoPath = repoUrl.split('github.com/')[1].replace(/\$/, '');
      const response = await fetch(`https://api.github.com/repos/${repoPath}`, {
        headers: import.meta.env.TOKEN 
          ? { Authorization: `Bearer ${import.meta.env.TOKEN}` } 
          : {}
      });

      const data = await response.json();
      // console.log(`data: ${data.name}, path: ${repoPath}, lastpush: ${new Date(data.pushed_at).getTime()}`);

      return {
        ...project,
        lastPush: new Date(data.pushed_at).getTime(),
        starts: data.stargazers_count
      };
    }
    catch (e){
      console.error(`Failed to fetch for ${project.id}:`, e);
      return { ...project, lastPush: 0 };
    }
  })
)

const activeProjects = projectsWithActivity
  .filter(p => p.lastPush > 0)
  .sort((a, b) => b.lastPush - a.lastPush)
  .slice(0, 3);

//Tech stack

const domains = [
  {
    title: "Autonomous Systems",
    desc: "Implementing Computer Vision, Artificial Intelligence and Reinforcement Learning for real-time analysis and miniature vehicles.",
    tags: ["Python", "YOLO", "Pytorch", "OpenCV"],
    icon: OpenCvLogo
  },
  {
    title: "Low-level engineering",
    desc: "Memory-safe firmware development and hardware interfacing.",
    tags: ["C/C++", "Arduino", "ESP-32", "ARM"],
    icon: ClangLogo
  },
  {
    title: "Game Development",
    desc: "Team-based and solo game development implementing principles of clean code, teamwork and design patterns to ensure smooth and coherent gameplay logic.",
    tags: ["C#", "Unity Engine", "Godot"],
    icon: UnityLogo
  },
  {
    title: "Full-stack Development",
    desc: "Creating full-stack applications with modern frameworks and programming principles, ensuring the seamless interaction of databases, UI/UX and logic.",
    tags: ["C#", "SQL", "Dotnet"],
    icon: DotnetLogo
  }
]


---

<LayoutSimple>
  <MatrixBanner />
  
	<body>
    <ActivityCarousel projects={activeProjects} />
    <hr class="w-[80%] mt-5 h-5 mx-auto border-slate-700/65 bg-neutral-quaternary rounded-sm">
    
    <!-- Domans tech stack: maximum of 4 -->
    <h1 class="font-mono text-steam-accent text-3xl font-bold mb-5">TECH STACK</h1>
    <div class="min-[1450px]:flex min-[1450px]:flex-row grid grid-cols-2 grid-rows-2 gap-6 h-fit">
      {domains.map(domain => (
        <div class="h-65 w-85 rounded border bg-steam-dark2/10 border-white/30 border-t-steam-matrix/45 border-l-white/45 hover:scale-102 backdrop-blur shadow-2xl">
          <div class="h-full w-full hover:shadow-inner shadow-steam-matrix/50 pt-2 transition-all duration-100">
            <h1 class="font-white font-extrabold text-2xl text-center uppercase drop-shadow-[0_0_10px_rgba(0,170,255,0.5)]">{domain.title}</h1>
            <p class="text-slate-400 text-center mt-2 ml-2 font-mono drop-shadow-[0_0_10px_rgba(0,170,255,0.5)]">{domain.desc}</p>
            <span class="flex flex-row absolute left-0 bottom-0 mb-4 ml-2">
              <Image src={domain.icon} alt="openCV" class="w-16 h-16"/>
              <div class="flex flex-row flex-wrap justify-end items-end ml-2">
              {domain.tags.map(tag => (
                <div class="h-fit w-fit scale-80 p-2 border border-steam-matrix/30 text-sm rounded bg-steam-dark/5 font-mono text-steam-blue drop-shadow-[0_0_10px_rgba(0,170,255,0.5)]">{tag}</div>
              ))}
              </div>            
            </span>
          </div>
        </div>
      ))}
    </div>
  </body>
</LayoutSimple>
