---
import { Image } from 'astro:assets'
const { projects} = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<div class="relative w-full max-w-6xl mx-auto overflow-hidden bg-steam-dark2 shadow-2xl border border-white/10 border-t-white/30 border-l-white/30 opacity-90 group">
    <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-2 z-1">
        {projects.map((_ : any, i : any) => (
          <div class="w-4 h-2 bg-white/20 rounded-full cursor-pointer hover:bg-steam-blue transition-colors"></div>
        ))}
    </div>
    {projects.map((project : any,index: any) => {
        const dateObj = new Date(project.lastPush);
        const displayDate = dateObj.toLocaleDateString('en-US', {
        month: 'long',
        day: 'numeric',
        year: 'numeric',
        timeZone: 'UTC'
        });

        return(
        <div class={`carousel-item ${index === 0? 'block' : 'hidden'} z-0 animate-fade-in`}>
            <a href={`${base}/projects/${project.id.replace(/\.md$/, '')}`} class="flex flex-col md:flex-row h-full">
                <div class="w-full md:w-2/3 relative aspect-video">
                    <Image src={project.data.thumbnail} alt={project.data.title} class="w-full h-full object-cover"/>
                    <div class="absolute inset-0 bg-linear-to-r from-transparent to-steam-dark2/50"></div>
                </div>

                <div class="w-full md:w-1/3 p-6 flex flex-col justify-between bg-[#0f1922]">
                    <div>
                        <h2 class="text-3xl font-black text-white uppercase font-mono tracking-tighter">{project.data.title}</h2>
                        <div class="grid grid-cols-2 grap-2 mt-4">
                            {project.data.screenshots?.slice(0, 4).map((ss : any) => (
                                <Image src={ss} alt="Preview" class="aspect-video object-cover opacity-60 hover:opacity-100 transition-opacity" />
                            ))}
                        </div>
                    </div>


                    <div class="mt-4">
                        <p class="text-steam-accent text-sm font-bold uppercase">Last updated in {displayDate}</p>
                        <p class="text-slate-400 text-xs mt-1">Based on recent GitHub activity</p>
                        <div class="mt-4 flex justify-between items-center">
                           <span class="bg-white/10 px-2 py-1 text-xs text-white uppercase font-mono">{project.data.version}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        );
    })}
</div>
</div>

<script>
  let current = 0;
  const items = document.querySelectorAll('.carousel-item');
  
  setInterval(() => {
    items[current].classList.add('hidden');
    current = (current + 1) % items.length;
    items[current].classList.remove('hidden');
  }, 5000);
</script>

<style is:global>
  @reference "../styles/global.css";
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-100px,0);
    }
    to {
      opacity: 1;
      transform: translate(0px,0);
    }
  }

  .nav-dot.active {
    background-color: #66c0f4; 
    width: 1.5rem;
  }

  .glow-inset{
    @apply inset-0 shadow-[inset_0_0_30px_rgba(102,192,244,0)] group-hover:shadow-[inset_0_0_30px_rgba(102,192,244,0.2)] transition-shadow;
  }
</style>