---
import { Image } from 'astro:assets'
const { projects} = Astro.props;
const base = import.meta.env.BASE_URL.replace(/\/$/, '');

// Icons served from /public
const arrowLeftSrc = `${base}/images/icons/arrow-left.svg`;
const arrowRightSrc = `${base}/images/icons/arrow-right.svg`;
---
<span class="m-10">
  <h1 class="uppercase font-bold text-steam-accent ml-[15%] mr-[15%] mx-auto">Recently updated projects</h1>
  <span class="flex flex-row relative">
    <!-- Navigation left -->
    <button id="carousel-prev" class="absolute left-[11%] top-1/2 h-100 -translate-y-1/2 z-20 p-3 bg-linear-to-r hover:scale-102 from-black/40 to-black/20 hover:bg-white/10 transition-colors cursor-pointer hidden md:block rounded">
        <img src={arrowLeftSrc} class="w-8 h-8 opacity-80 hover:opacity-100" alt="Previous" />
    </button>

    <!-- Carousel content -->
    <div class="relative ml-[15%] mr-[15%] mx-auto overflow-hidden rounded bg-steam-dark2 shadow-2xl border border-white/10 border-t-white/30 border-l-white/30 opacity-90 group">
      {projects.map((project : any,index: any) => {
          const dateObj = new Date(project.lastPush);
          const displayDate = dateObj.toLocaleDateString('en-US', {
          month: 'long',
          day: 'numeric',
          year: 'numeric',
          timeZone: 'UTC'
          });

          return(
          <div class={`carousel-item ${index === 0? 'block' : 'hidden'} z-0 animate-fade-in`}>
              <a href={`${base}/projects/${project.id.replace(/\.md$/, '')}`} class="flex flex-col md:flex-row h-full">
                  <div class="w-full md:w-2/3 relative aspect-video">
                      <Image src={project.data.thumbnail} alt={project.data.title} class="w-full h-full object-cover"/>
                      <div class="absolute inset-0 bg-linear-to-r from-transparent to-steam-dark2/50"></div>
                  </div>

                  <div class="w-full md:w-1/3 p-6 flex flex-col justify-between bg-[#0f1922]">
                      <div>
                          <h2 class="text-3xl font-black text-white uppercase font-mono tracking-tighter">{project.data.title}</h2>
                          <div class="grid grid-cols-2 grap-2 mt-4">
                              {project.data.screenshots?.slice(0, 4).map((ss : any) => (
                                  <Image src={ss} alt="Preview" class="aspect-video object-cover opacity-60 hover:opacity-100 transition-opacity" />
                              ))}
                          </div>
                      </div>


                      <div class="mt-4">
                          <p class="text-steam-accent text-sm font-bold uppercase">Last updated in {displayDate}</p>
                          <p class="text-slate-400 text-xs mt-1">Based on recent GitHub activity</p>
                          <div class="mt-4 flex justify-between items-center">
                             <span class="bg-white/10 px-2 py-1 text-xs text-white uppercase font-mono">{project.data.version}</span>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          );
      })}
    </div>

    <!-- Navigation right -->
    <button id="carousel-next" class="absolute right-[11%] h-100 top-1/2 -translate-y-1/2 z-20 p-3 bg-linear-to-l hover:scale-102 from-black/40 to-black/20 hover:bg-white/10 transition-colors cursor-pointer hidden md:block rounded">
        <img src={arrowRightSrc} class="w-8 h-8 opacity-80 hover:opacity-100" alt="Next" />
    </button>
  </span>

  <!-- Navigation position markers -->
  <div class="flex flex-row items-center justify-center mt-2 gap-1 z-1">
      {projects.map((_ : any, i : any) => (
            <div class="w-4 h-2  rounded-full cursor-pointer carousel-dot transition-colors"></div>
      ))}
  </div>
</span>

<script>
  let current = 0;
  const items = document.querySelectorAll('.carousel-item');
  const dots = document.querySelectorAll('.carousel-dot');
  const prevBtn = document.getElementById('carousel-prev');
  const nextBtn = document.getElementById('carousel-next');
  let intervalId: any;

  const updateCarousel = (newIndex: number) => {
    items[current].classList.add('hidden');
    dots[current].classList.add('bg-white/20');
    dots[current].classList.remove('bg-steam-blue');
    
    current = newIndex;
    
    items[current].classList.remove('hidden');
    dots[current].classList.remove('bg-white/20');
    dots[current].classList.add('bg-steam-blue');
  };

  const startInterval = () => {
    intervalId = setInterval(() => {
        const nextIndex = (current + 1) % items.length;
        updateCarousel(nextIndex);
    }, 5000);
  };

  const resetInterval = () => {
      clearInterval(intervalId);
      startInterval();
  };

  prevBtn?.addEventListener('click', () => {
      const prevIndex = (current - 1 + items.length) % items.length;
      updateCarousel(prevIndex);
      resetInterval();
  });

  nextBtn?.addEventListener('click', () => {
      const nextIndex = (current + 1) % items.length;
      updateCarousel(nextIndex);
      resetInterval();
  });

  dots.forEach(dot => {
      dot.addEventListener('click', (e) => {
          const target = e.target as HTMLElement;
          const index = parseInt(target.dataset.index || '0');
          if (index !== current) {
            updateCarousel(index);
            resetInterval();
          }
      });
  });

  startInterval();
</script>

<style is:global>
  @reference "../styles/global.css";
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-100px,0);
    }
    to {
      opacity: 1;
      transform: translate(0px,0);
    }
  }

  .nav-dot.active {
    background-color: #66c0f4; 
    width: 1.5rem;
  }

  .glow-inset{
    @apply inset-0 shadow-[inset_0_0_30px_rgba(102,192,244,0)] group-hover:shadow-[inset_0_0_30px_rgba(102,192,244,0.2)] transition-shadow;
  }
</style>