---
import { Image } from 'astro:assets'
const base = import.meta.env.BASE_URL;
const { project } = Astro.props;
const { dateOfCreation } = project.data;
const slug = project.id.replace(/\.md$/, '');

//actually the biggest bullshit I've ever seen
const cleanBase = base.endsWith('/') ? base : `${base}/`;
const projectLink = `${cleanBase}projects/${slug}`;

const getOrdinal = (n: number) => {
  const s = ["th", "st", "nd", "rd"];
  const v = n % 100;
  return n + (s[(v - 20) % 10] || s[v] || s[0]);
};

const formattedDate = dateOfCreation.toLocaleDateString('en-US', {
  month: 'long',
  year: 'numeric',
});

const day = getOrdinal(dateOfCreation.getDate());
const dateString = `${formattedDate.split(' ')[0]} ${day}, ${dateOfCreation.getFullYear()}`;
---

<a  href={projectLink}
    class="group block bg-steam-gray/50 hover:bg-steam-gray transition-all duration-300 rounded">
    <div class="relative group-hover:scale-105 transition-transform duration-300 drop-shadow-2xl aspect-video">
        <span>
            <label class:list={[project.data.supported ? 'unsupported-title-hidden' : 'unsupported-title-visible', 'absolute']}>UNSUPPORTED</label>
            <Image 
            src={project.data.thumbnail} 
            alt={project.data.title} 
            class="object-cover w-full h-full bg-steam-dark2 rounded-t"
            /> 
        </span>

        <div class="p-4 border-b-2 border-transparent group-hover:border-steam-blue bg-linear-to-b from-steam-dark to-steam-dark2 overflow-hidden rounded-b">
            <h3 class="text-white truncate font-bold font-mono text-lg uppercase tracking-tight">{project.data.title}</h3>
            <div class="grid grid-cols-2, grid-rows-2 mt-2">
              <span class="col-span-2 flex gap-2">
                {
                    project.data.tags
                        .sort((a : string, b : string) => a.localeCompare(b)) // 1. Alphabetical sort
                        .slice(0, 4)                        // 2. Take only the first 4
                        .map((tag: string) => (             // 3. Map the result
                        <span class="text-[10px] truncate h-5 overflow-hidden mt-auto mb-auto bg-black/40 px-2 py-0.5 text-steam-accent">
                            {tag}
                        </span>
                    ))
                }
              </span>
            </div>  
            <span class="text-slate-500 ml-auto mt-auto mb-auto">{dateString}</span>
        </div> 

        <div class="absolute inset-0 shadow-[inset_0_0_30px_rgba(102,192,244,0)] group-hover:shadow-[inset_0_0_30px_rgba(102,192,244,0.2)] transition-shadow"></div>
        <div class="pointer-events-none absolute inset-0 shadow-[0_10px_28px_-4px_rgba(0,0,0,0.2)] group-hover:shadow-[0_10px_28px_-4px_rgba(0,0,0,0.6)] transition-shadow"></div>
    </div>
</a>

<style is:global>
  @reference "../styles/global.css";
    .perspective-1000{
        perspective: 1000px;
    }

    .unsupported-title-visible{
        @apply font-mono font-extrabold shadow-2xs opacity-70 text-steam-dark bg-steam-accent uppercase absolute rounded-2xl mt-2 ml-2 p-2;
    }

    .unsupported-title-hidden{
        visibility: hidden;
    }
</style>