---
// import '../../styles/global.css';
import { getCollection, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ImageCarousel from '../../components/ImageCarousel.astro';
import githubLogo from '../../../public/images/icons/github.png';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const entries = await getCollection('projects');
  return entries.map((entry) => ({
    params: { slug: entry.id.replace(/\.md$/, '') }, 
    props: { entry },
  }));
}

export async function isRepoAccessibleAsync(url : string) : Promise<boolean>{
  const response = await fetch(url);

  if(response.ok) return true;
  else return false;
}

type Props = {
  entry: CollectionEntry<'projects'>;
};



const { entry } = Astro.props;
const { Content } = await render(entry);
const isRepoAccessible = entry.data.githubPage ? await isRepoAccessibleAsync(entry.data.githubPage) : false;
---

<Layout title={entry.data.title} currentTab="library"> 
    <!-- background -->
    <div class="absolute inset-0 z-0">
      <Image 
        src={entry.data.thumbnail} 
        alt="" 
        class="w-full h-full object-cover blur-3xl scale-110 brightness-70"
      />
    </div>

  <div class="grid grid-cols-2 grid-rows-1 gap-2 bg-steam-dark2/60 panel-glow border border-white/10 border-t-white/30 border-l-white/30 opacity-90 z-2">
    <div class="overflow-hidden bg-steam-dark">
      <ImageCarousel screenshots={entry.data.screenshots} />
    </div>
    <div class="flex flex-col z-2">
      <h1 class="text-5xl text-white mt-2 uppercase font-mono font-extrabold">{entry.data.title}</h1>
      <div class="flex gap-2">
            {entry.data.tags.map((tag: string) => (
              <span class="text-[12px] h-fit mt-auto bg-black/40 px-2 py-0.5 text-steam-accent">{tag}</span>
            ))}
      </div>
      <p class="text-gray-400 mt-2">{entry.data.description}</p>
      <p class="mt-6 text-slate-400">Author: {entry.data.author}</p>
      <p class=" text-slate-400 gap-2">Contributors:
        {(entry.data.contributors ?? []).map((contributor: string) => (
          <span class="mr-1">{contributor},</span>
        ))}
      </p>
      <span class="mt-auto mr-auto mb-2 flex h-fit w-full">
        <span title=`${isRepoAccessible ? "Navigate to github.com" : "Repository not found or unavailable."}`>
          <a class=`${isRepoAccessible ? "navigate-repo-btn-enabled link-enabled" : "navigate-repo-btn-disabled link-disabled"}` href={entry.data.githubPage}>
            <Image 
                width={32}
                height={32}
                src={githubLogo} 
                alt="Go to repository"/>
            <p class="font-mono font-bold text-white ml-2 mt-auto mb-auto">GO TO REPOSITORY</p>
          </a>
        </span>
        <p class="ml-auto mr-2 mt-auto text-white font-mono font-bold text-2xl">{entry.data.version}</p>
      </span>
    </div>
  </div>

  <div class="grid grid-cols-2 grid-grows-3 gap-2">
    <article class="panel-glow prose prose-invert mt-6 max-w-none row-span-3 bg-steam-dark2/60 p-2 border border-white/10 border-t-white/30 border-l-white/30 opacity-90">
      <Content />
    </article>
    <div class="bg-steam-dark">

    </div>
  </div>
</Layout>

<style is:global>
  @reference "../../styles/global.css";
  .prose h1, .prose h2 {
    @apply text-white uppercase tracking-wider border-b border-steam-gray pb-2;
  }
  .prose p {
    @apply text-steam-accent leading-relaxed;
  }
  .prose strong {
    @apply text-steam-blue;
  }
  .background{
    background-size: cover;
    height: 100vh;
  }
  .navigate-repo-btn-enabled{
    @apply bg-linear-to-b from-steam-btn1 to-steam-btn2 hover:from-65% hover:scale-102 shadow-2xs hover:shadow-2xl p-2 flex w-fit h-fit transition delay-75;
  }

  .navigate-repo-btn-disabled{
    @apply bg-steam-dark2 border border-steam-accent/30 opacity-80 shadow-2xs p-2 flex w-fit h-fit transition delay-75;
  }

  .link-enabled{
    pointer-events: all;
    cursor: pointer;
  }

  .link-disabled{
    pointer-events: none;
    cursor: default;
  }

  .panel-glow{
    @apply shadow-[0_20px_40px_rgba(0,0,0,0.2),inset_0_0_10px_rgba(255,255,255,0.2)];
  }

  .panel-glow-r-0{
    @apply shadow-[0_20px_40px_rgba(0,0,0,0.2),inset_-10_0_10px_rgba(255,255,255,0.2)];
  }

  .specular-overlay{
    @apply absolute inset-0 bg-linear-to-br from-white/5 via-transparent to-transparent pointer-events-none;
  }

</style>